# To use:
#     pre-commit run -a
#
# Or:
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # https://pre-commit.com/#repository-local-hooks
  # https://github.com/ros-planning/srdfdom/blob/noetic-devel/.pre-commit-config.yaml
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hqq|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        exclude: .pre-commit-config.yaml|README.md

  # https://cmake-format.readthedocs.io/en/latest/
  # https://cmake-format.readthedocs.io/en/latest/lint-example.html
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-lint

  # https://pycqa.github.io/isort/docs/configuration/pre-commit.html
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (Python)

  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        name: beautysh (Bash)
